
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


/* Roots */
:root{
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  --clr-neutral-200: hsl(0, 0%, 98%);
  --clr-neutral-400: hsl(229, 6%, 66%);
  --clr-neutral-700: hsl(234, 12%, 34%);

--ff-body: 'Poppins', sans-serif;

--fs-400: 0.9375rem;

--fw-200: 200;
--fw-400: 400;
--fw-600: 600;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
 margin: 0;
 padding: 0;
 min-height: 100vh;
 background-color: var(--clr-neutral-200);
 font-family: var(--ff-body);
 font-size: var(--fs-400);
 font-weight: var(--fw-400);
 line-height: 1.6;
 background-color: var(--clr-neutral-200);
 color: var(--clr-neutral-400)
}

h1,h2 {
  font-weight: var(--fw-600);
  line-height: 1;
  color: var(--clr-neutral-700)
}



/* Parent Section */
.parent-section {
  margin: 12vh 10vw;

}


/* Text Part */
.text-part {
 text-align: center;
 padding-bottom: max(8vh,5rem);
}

h1 {
  font-size: 3.5rem;
}

.text-part-first-h1 {
  font-weight: var(--fw-200);
}


/* Blocks Section */
.blocks-section {
  display: flex;
  display: grid;
  place-items: center;
  gap: max(5vh,4rem);

  grid-template-areas: ' card-1 '
                       ' card-2 '
                       ' card-3 '
                       ' card-4 ';
}

.block{
  background-color: #fff;
  box-sizing: border-box;
  padding:70px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

h2{
  font-size: 2.5rem;
}

.block-p{
  font-size: 0.8rem;
}

img {
  float: right;
  width: 10rem;
  padding: 80px 0 0 0;
}


.block-supervisor{
border-top: solid 10px var(--clr-cyan);
}

.block-team-builder{
  border-top: solid 10px var(--clr-red);
}

.block-karma{
  border-top: solid 10px var(--clr-orange);
}

.block-calculator{
  border-top: solid 10px var(--clr-blue);
}


/* Responsiveness */
 @media (min-width: 550px) {

  h1{
    font-size: 2.5rem;
  }

  h2{
    font-size: 1.5rem;
  }

  .parent-section{
    margin: 8vh 20vw;
  }
 
  
  img{
    width: 5rem;
    padding: 2rem 0 0 0;
  }

  .block{
    max-width: 27rem;
    padding:2rem;
  }

}

@media (min-width: 1440px) {

  h1{
    font-size: 1.8rem;
  }

  h2{
    font-size: 1.2rem;
  }

  
.text-part {
  margin:2vh 10vw ;
}

.blocks-section {

grid-area: card-1;
grid-area: card-2;
grid-area: card-3;
grid-area: card-4;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: '......  card-2  ......'
                       'card-1  card-2  card-4'
                       'card-1  card-3  card-4'
                       '......  card-3  ......';
}


  img{
    width: 3.5rem;
  }

}
